<div class="chartsContainer" (window:resize)="onResize($event)">
    <div class="btnGroup">
        <crms-statistics-dimension [isHideCourt]="true" [isHideCenter]="false" (statisticsByCourtSelectChanged)="statisticsQuantityByCourtSelect($event)"
            (statisticsByCustomTimeClicked)="statisticsQuantitByCustomTime($event)" (statisticsByYearClicked)="statisticsQuantityByYear($event)"
            (statisticsByTodayClicked)="statisticsQuantityByToday($event)" (statisticsByMonthClicked)="statisticsQuantityByMonth($event)"></crms-statistics-dimension>
        <div class="btn-group tab-group" style="float:right;">
            <button class="btn thisI" title="{{'courts and noticeTime'|translate}}">
             <span class="img-bg"><i class="fa fa-file-text-o"></i></span></button>
        </div>
    </div>


    <div class="searchModel">
        <div class="searchBox" style="float:right;">
            <div class="selectGroup">
                <label style="width:200px;">{{ 'choice-court'| translate}}</label>
                <dx-select-box class="codeBox" [(ngModel)]="stationCode" [dataSource]="courts" displayExpr="name" valueExpr="id" name="stationCode" [width]="400"[searchEnabled]="true" (onFocusIn)="inputSearch()"></dx-select-box>
            </div>

            <button class="btn red-btn c-btn-reset" (click)="searchSistic()" [disabled]="stationCode == null || stationCode==undefined"
                style="margin-left:12px;">
                <i class="fa fa-search"></i>
                {{'search' | translate }}
                </button>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="chartsBox">
        <div class="chartBox chartBoxHeight">
            <h1 class="title text-center">{{'crimenotice-statistics-table' |translate}}</h1>
            <dx-pivot-grid id="sales" class="dataList" [allowSortingBySummary]="true" [allowSorting]="true" [allowFiltering]="true"
                [allowExpandAll]="true" [showBorders]="true" [dataSource]="dataSource" [showColumnGrandTotals]="true" [showRowGrandTotals]="true"
                [height]="300">
                <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
                <dxo-export [enabled]="true" fileName="{{'crimenotice-statistics-table' |translate}}"></dxo-export>
                <!--<dxo-field-panel [showDataFields]="false" [showRowFields]="true" [showColumnFields]="false" [showFilterFields]="false" [allowFieldDragging]="false"
                    [visible]="true">
                </dxo-field-panel>-->
                <!--<dxo-scrolling [mode]="virtual"></dxo-scrolling>-->
                <dxo-texts [total]="totalText" [grandTotal]="grandTotal"></dxo-texts>
            </dx-pivot-grid>
            <div class="chartHeight">
               <div class="chart chartWidth" #CrimequantityStatisticsDiv id="c-full"></div>
           </div>
        </div>

    </div>
</div>



<!--loading-->
<!--<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{my:'center',at:'center', of: window }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>-->
