.btn-lev-green {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-lev-orange {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.btn-lev-yellow {
  color: #fff;
  background-color: yellow;
  border-color: yellow;
}

.btn-lev-red {
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn-lev-gray {
  color: #fff;
  background-color: gray;
  border-color: gray;
}