<div class="list-common-width">
    <div class="common-title">{{'applyAuditPendingList of tasks' | translate}}</div>
</div>
<div class="list-common-content">
    <!--*ngIf="role===3"-->
    <div>
        <div>
            <!--(mouseenter)="toggleDefault()" (mouseleave)="toggleDefault()" -->
            <dx-button icon="fa fa-link" class="red-btn" (click)="navigateToAuditDetail()" id="button" text="{{'audit' | translate}}" 
                [(disabled)]="isAllow"></dx-button>

            <dx-button icon="fa fa-history"  class="grey-btn" (click)="watchHistoryRecord()" id="" text="{{'record History' | translate}}"
                [(disabled)]="isAllow"></dx-button>

            <dx-button class="refresh-btn grey-btn" icon="fa fa-refresh" (click)="refreshList()" text="{{'refresh' | translate}}"></dx-button>
        </div>
        <div class="space-15">
            <dx-data-grid #auditInfoGrids id="auditInfoList" [dataSource]="auditInfoList" columnAutoWidth=true (onSelectionChanged)="selectChangedHandle($event)" [loadPanel]={enabled:false}>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="applyTypeName" caption="{{'applyTypeName' | translate}}" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="applyPurposeName" caption="{{'applyPurpose' | translate}}" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="apportionTime" caption="{{'apportionTime' | translate}}"cellTemplate="dateCellTemplate" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="applyCenterName" caption="{{'applyCenterName' | translate}}" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="priorityName" caption="{{'priority' | translate}}" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="applyTime" caption="{{'applyTime' | translate}}" dataType="date" [allowSorting]="false"></dxi-column>
                <dxi-column dataField="analysisPersonName" caption="{{'analysisPersonName' | translate}}" [allowSorting]="false"></dxi-column>
                <div *dxTemplate="let item of 'dateCellTemplate'">
                {{item.value | I18nDate:'long'}}
                </div>
            </dx-data-grid>
            <div class="pull-right pagin-space" [hidden]="pageMenuVisible">
                <app-pagination [(pageObjEmit)]="applyInfoPage" [(totalCount)]="dataCount" (pageObjChange)="pageIndexChange($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>
<mf-history [handleHistoryList]="historyRecordList"></mf-history>
<!-- 保存以及查询时的loading starter-->
<dx-load-panel #submitLoadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{my:'center',at:'center', of: '#auditInfoList' }"
    [(visible)]="loadingApply" [showIndicator]="true" [showPane]="true" [shading]="false" [closeOnOutsideClick]="false">
</dx-load-panel>
<!-- 保存以及查询时的loading end-->