<div class="Crime">
<div class="abc"   *ngIf="path==1">
    <markdown [path]="'assets/files/crmsHelper/noticeManage/noticeAdd/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==2">
    <markdown [path]="'assets/files/crmsHelper/noticeManage/noticeQuery/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==3">
    <markdown [path]="'assets/files/crmsHelper/applyManage/personApply/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==4">
    <markdown [path]="'assets/files/crmsHelper/applyManage/govermentApply/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==5">
    <markdown [path]="'assets/files/crmsHelper/analysisManage/personAnalysis/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==6">
    <markdown [path]="'assets/files/crmsHelper/auditManage/applyAudit/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==7">
    <markdown [path]="'assets/files/crmsHelper/statisticsManage/bussinessStatistics/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==8">
    <markdown [path]="'assets/files/crmsHelper/statisticsManage/personStatistics/readme.md'"></markdown>
</div>
<div class="abc" *ngIf="path==9">
    <markdown [path]="'assets/files/crmsHelper/statisticsManage/govermentStatistics/readme.md'"></markdown>
</div>
</div>