<!-- 基本信息 starter-->
<h1 class="title margin-top0">{{'applyBasicInfo'|translate}}
    <i [hidden]="clearBtnVisible || isEdit" id="clearApplyBasicInfo" class="ag02 ag02-empty clearBtn" (click)="clearInfo.emit('clearApplyBasicInfo')"
        (mouseenter)="clearPageTolToggle()" (mouseleave)="clearPageTolToggle()"></i>
</h1>
<dx-validation-group>
    <div class="row">
        <div class="col-sm-2">
            <div class="photoImg dx-icon" [ngClass]="{'dx-icon-user':applyBasicInfo.registrationPhoto==null}">
                <img src="data:image/jpg;base64,{{applyBasicInfo.registrationPhoto}}" alt="" width="150" height="210">
            </div>
        </div>

        <dx-text-box hidden="hidden" [(ngModel)]="applyBasicInfo.applyBasicId" name="applyBasicId" id="applyBasicId"></dx-text-box>
        <div class="col-sm-10 padding-0">
            <div class="row">
                <div class="col-sm-6 inputBox">
                    <label>{{'certificateType'| translate}}
                    <span>*</span>
                </label>
                    <div class="dxInput">
                        <dx-select-box [(ngModel)]="applyBasicInfo.certificateType" name="certificateType" valueExpr="certificateTypeId" displayExpr="name"
                            [dataSource]="certificateTypeList" [readOnly]="isEdit" (onSelectionChanged)="selectedCertificateType($event)">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="{{'certificateType is required' | translate}}"></dxi-validation-rule>
                            </dx-validator>
                        </dx-select-box>
                    </div>
                </div>

                <div class="col-sm-6 inputBox">
                    <label>{{'certificateNumber'| translate}}
                    <span [hidden]="certificateRequired">*</span>
                </label>
                    <div class="dxInput">
                        <div class="cardIcon">
                            <dx-text-box [isValid]="certificateRequired" [(ngModel)]="applyBasicInfo.certificateNumber" name="certificateNumber" #certificateNumberDom
                                id="certificateNumber" [readOnly]="isEdit" [disabled]="certificateNumberDisabled || !applyBasicInfo.certificateType"
                                (onFocusOut)="certificateNumberTrim()" maxLength="20">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'certificateNumber is required'|translate}}"></dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" [pattern]="idNumberRegex" message="{{'please fill in the correct certificateNumber'| translate}}"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                            <i (click)="getPersonInfoByNumber()" class=" fa fa-search queryIcon" *ngIf="!isEdit && isSelectByCerNumber" title="{{'Click on the name and ID to search personInfo' | translate}}"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputBox">
                    <label>{{'firstName'| translate }}
                    <span>*</span>
                </label>
                    <div class="dxInput">
                        <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.firstName" name="firstName" id="firstName" [readOnly]="isEdit">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="{{'firstName is required'| translate}}"></dxi-validation-rule>
                                <!--<dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>-->
                            </dx-validator>
                        </dx-text-box>
                    </div>
                </div>

                <div class="col-sm-6 inputBox">
                    <label>{{'lastName'| translate }}
                    <span>*</span>
                </label>
                    <div class="dxInput">
                        <div class="cardIcon">
                            <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.lastName" name="lastName" id="lastName" [readOnly]="isEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="{{'lastName is required'| translate}}"></dxi-validation-rule>
                                    <!--<dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>-->
                                </dx-validator>
                            </dx-text-box>
                            <i (click)="getPersonInfoByName()" class=" fa fa-search queryIcon" *ngIf="!isEdit && isSelectByNameAndSex" title="{{'Click on the name and ID to search personInfo' | translate}}"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 inputBox">
                    <label>{{'sexName'| translate}}
                    <span>*</span>
                </label>
                    <div class="dxInput">
                        <dx-select-box [(ngModel)]="applyBasicInfo.sexId" name="sexId" (onValueChanged)="selectIndenxOfGender($event)" valueExpr="value"
                            displayExpr="name" [dataSource]="genderEnum" [readOnly]="isEdit">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="{{'sex is required' | translate}}"></dxi-validation-rule>
                            </dx-validator>
                        </dx-select-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 inputBox">
            <label>{{'dateOfBirth'| translate}}</label>
            <div class="dxInput">
                <dx-date-box [showClearButton]="true" [acceptCustomValue]="false" [max]="applyBasicInfo.credentialsIssueDate!=null?applyBasicInfo.credentialsIssueDate:now"
                    (onValueChanged)="getAge()" [(ngModel)]="applyBasicInfo.dateOfBirth" name="dateOfBirth" [readOnly]="isEdit"
                    [min]="minDateOfBirth">
                </dx-date-box>
            </div>
        </div>
        <div class="col-sm-6 inputBox" title="{{'automatic calculation of age acn not be manually entered'| translate}}">
            <label>{{'age'| translate}}</label>
            <div class="dxInput">
                <!--<dx-text-box [(ngModel)]="applyBasicInfo.age" name="age" id="age" [readOnly]="true"></dx-text-box>-->
                <!--(onFocusOut)="validateAgePattern(applyBasicInfo.age)"-->
                <dx-number-box [readOnly]="applyBasicInfo.dateOfBirth || isEdit" [(ngModel)]="applyBasicInfo.age" name="age" id="age" [showClearButton]="!applyBasicInfo.dateOfBirth || !isEdit"
                    [max]="200" (keypress)="ageOnkeyPress($event)"> </dx-number-box>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 inputBox">
            <label>{{'marriageName'| translate}}</label>
            <div class="dxInput">
                <dx-select-box [(ngModel)]="applyBasicInfo.marriageId" name="marriageId" id="marriageId" valueExpr="marriageId" displayExpr="name"
                    [dataSource]="marriageEnum" [readOnly]="isEdit">
                    <dx-validator>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>
        <div class="col-sm-6 inputBox">
            <label>{{'nation'| translate}}</label>
            <div class="dxInput">
                <dx-text-box [maxLength]="128" [(ngModel)]="applyBasicInfo.nation" name="nation" id="nation" [readOnly]="isEdit">
                    <dx-validator>
                        <!--<dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>-->
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 inputBox">
            <label>{{'credentialsIssueDate'| translate}}</label>
            <div class="dxInput">
                <dx-date-box [showClearButton]="true" [acceptCustomValue]="false" [min]="applyBasicInfo.dateOfBirth" [max]="now" [(ngModel)]="applyBasicInfo.credentialsIssueDate"
                    name="credentialsIssueDate" id="credentialsIssueDate" [readOnly]="isEdit">
                </dx-date-box>
            </div>
        </div>

        <div class="col-sm-6 inputBox">
            <label>{{'certificateValidity'| translate}}</label>
            <div class="dxInput">
                <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.certificateValidity" name="certificateValidity" id="certificateValidity"
                    [readOnly]="isEdit">
                    <!--<dx-validator>
                    <dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>
                </dx-validator>-->
                </dx-text-box>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="textarea-p">
            <label>{{'credentialsIssuePlace'| translate}}</label>
            <div class="textAreaDiv">
                <dx-text-area [maxLength]="300" [(ngModel)]="applyBasicInfo.credentialsIssuePlace" name="credentialsIssuePlace" id="credentialsIssuePlace"
                    [readOnly]="isEdit" class="textAreaCrime" valueChangeEvent="keyup">
                </dx-text-area>
                <span class="wordwrap">
                <var class="word">{{applyBasicInfo.credentialsIssuePlace?applyBasicInfo.credentialsIssuePlace.length:0}}</var>/300</span>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <h1 class="title">{{'parentInfo'|translate}}</h1>
    <div class="row">
        <div class="col-sm-6 inputBox">
            <label>{{'fatherCertificateNumber'| translate}}</label>
            <div class="dxInput">
                <dx-text-box [(ngModel)]="applyBasicInfo.fatherCertificateNumber" name="fatherCertificateNumber" id="fatherCertificateNumber">
                    <dx-validator>
                        <dxi-validation-rule type="pattern" [pattern]="idCardNumberRegex" message="{{'Please fill in the correct ID number'| translate}}"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
        <div class="col-sm-6 inputBox">
            <label>{{'motherCertificateNumber'| translate}}</label>
            <div class="dxInput">
                <dx-text-box [(ngModel)]="applyBasicInfo.motherCertificateNumber" name="motherCertificateNumber" id="motherCertificateNumber">
                    <dx-validator>
                        <dxi-validation-rule type="pattern" [pattern]="idCardNumberRegex" message="{{'Please fill in the correct ID number'| translate}}"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 inputBox">
            <label>{{'fatherFirstName'| translate}}</label>
            <div class="dxInput">
                <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.fatherFirstName" name="fatherFirstName" id="fatherFirstName" [readOnly]="isEdit">
                    <!--<dx-validator>
                    <dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>
                </dx-validator>-->
                </dx-text-box>
            </div>
        </div>

        <div class="col-sm-6 inputBox">
            <label>{{'fatherLastName'| translate}}</label>
            <div class="dxInput">
                <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.fatherLastName" name="fatherLastName" id="fatherLastName" [readOnly]="isEdit">
                    <!--<dx-validator>
                    <dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>
                </dx-validator>-->
                </dx-text-box>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-6 inputBox">
            <label>{{'motherFirstName'| translate}}</label>
            <div class="dxInput">
                <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.motherFirstName" name="motherFirstName" id="motherFirstName" [readOnly]="isEdit">
                    <!--<dx-validator>
                    <dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>
                </dx-validator>-->
                </dx-text-box>
            </div>
        </div>

        <div class="col-sm-6 inputBox">
            <label>{{'motherLastName'| translate}}</label>
            <div class="dxInput">
                <dx-text-box maxLength="36" [(ngModel)]="applyBasicInfo.motherLastName" name="motherLastName" id="motherLastName" [readOnly]="isEdit">
                    <!--<dx-validator>
                    <dxi-validation-rule type="stringLength" [max]="128" message="{{'must less than 128 symbols'| translate}}"></dxi-validation-rule>
                </dx-validator>-->
                </dx-text-box>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</dx-validation-group>




<!--数据回填窗口start-->
<dx-popup class="popup dataBackPopup" title="{{'backfill'| translate}}" [width]="1280" [height]="720" [minWidth]="1280" [minHeight]="768"
    [shading]="false" [position]="{my:'center',at:'center',of:window}" [resizeEnabled]="false" [dragEnabled]="true" [closeOnOutsideClick]="false"
    [(visible)]="fillDataVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view [width]="1250" showScrollbar="always">
            <div class="executionBtn">
                <dx-button id="dataBackFill" icon="fa fa-paperclip" type="success" text="{{'backfill' | translate}}" (onClick)="dataBackFill()"
                    [disabled]="isDataBackFill"></dx-button>
            </div>
            <div class="clearfix"></div>
            <div style="width:100%">
<tr>
    <td colspan="10">
        <!--人口信息start -->
        <dx-data-grid #grids id="gridContainer" [dataSource]="personInfoList" [masterDetail]="{ enabled: true, template: 'detail' }"
            (onSelectionChanged)="isDisabledBackFill($event)">
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="name" [width]="100" caption="{{'name'| translate }}" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="sexName" cellTemplate="sexCellTemplate" caption="{{'sexName'| translate }}" [allowSorting]="false"></dxi-column>
            <dxi-column dataField="certificateName" cellTemplate="certificateCellTemplate" caption="{{'certificateType'| translate }}"
                [allowSorting]="false"></dxi-column>
            <dxi-column dataField="certificateNumber" [width]="150" caption="{{'certificateNumber'| translate }}" [allowSorting]="false"></dxi-column>
            <!--<dxi-column dataField="countryOfCitizenship" [width]="auto" caption="{{'countryOfCitizenship'| translate }}"></dxi-column>-->
            <!--<dxi-column dataField="age" caption="{{'age'| translate }}"></dxi-column>-->
            <dxi-column dataField="point" caption="{{'matched rate'| translate }}" [allowSorting]="false"></dxi-column>
            <div *dxTemplate="let item of 'detail'" title=''>
                <readOnly-personApplyBasicInfo [applyBasicInfo]="item.data"></readOnly-personApplyBasicInfo>
            </div>
            <div *dxTemplate="let item of 'sexCellTemplate'">
                {{item.value | translate}}
            </div>
            <div *dxTemplate="let item of 'certificateCellTemplate'">
                {{item.value | translate}}
            </div>
        </dx-data-grid>
    </td>
</tr>
</div>
</dx-scroll-view>
</div>
</dx-popup>
<!--数据回填窗口end-->

<!--清除按钮提示-->
<dx-tooltip target="#clearApplyBasicInfo" position="bottom" [(visible)]="clearPageTolVisible">
    <div *dxTemplate="let data = data of 'content'">
        {{'clear applicant info'|translate}}
    </div>
</dx-tooltip>
