<div class="list-common-width detail-width">
    <div class="detail-left">
        <div class="info-number">
            <label>{{'applyNumber'| translate}}</label>
            <span>{{applyInfo?.deliveryReceiptNumbr}} </span>
        </div>
        <div class="info-wrap">
            <label>{{'createTime'| translate}}</label>
            <span>{{applyInfo?.changeTime}} </span>
        </div>
        <div class="info-wrap">
            <label>{{'createPersonName'| translate}}</label>
            <span>{{applyInfo?.enteringPersonName}} </span>
        </div>
        <div class="info-wrap" *ngIf="applyInfo?.analysisResultName">
            <label>{{'analysisResult'| translate}}</label>
            <span>{{applyInfo?.analysisResultName}} </span>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="detail-right">
        <dx-button icon="fa fa-reply" class="grey-btn" text="{{'getBack'| translate}}" (onClick)="goBack()" [disabled]="LoadingPanelVisible"></dx-button>
    </div>
</div>

<div class="apply-analysis-content">
    <div class="analysis-content-title">{{'audit process' | translate}}</div>
    <div class="analysis-content-wizard">
        <form-wizard (nextEvent)="nextEventValidata($event)" (submitEvent)="onSubmit($event)">
            <!-- 附件 -->
            <wizard-step [title]="['verification information' | translate]">
                <div class="info-tab">
                    <span (click)="showInfo(1)" [ngClass]="{'active': showInfoIndex==1}">{{'applyInfo' | translate}}</span>
                    <span (click)="showInfo(2)" [ngClass]="{'active': showInfoIndex==2}">{{'applyBasicInfo' | translate}}</span>
                    <span (click)="showInfo(3)" [ngClass]="{'active': showInfoIndex==3}">{{'wait merging list' | translate}}</span>
                </div>
                <div class="col-xs-8">

                    <!-- 基本信息 -->
                    <div *ngIf="showInfoIndex ==1">
                        <div [hidden]="showProcessInfo">
                            <applyAudit-processInfo [applyInfo]="applyInfo"></applyAudit-processInfo>
                        </div>
                        <div [hidden]="showPersonApplyInfo">
                            <readOnly-personApplyInfo [applyInfo]="applyInfo"></readOnly-personApplyInfo>
                        </div>
                        <div [hidden]="showGovernApplyInfo">
                            <audit-governApplyInfo [applyInfo]="applyInfo"></audit-governApplyInfo>
                        </div>
                    </div>

                    <!-- 个人信息 -->
                    <div *ngIf="showInfoIndex ==2">
                        <readOnly-personApplyBasicInfo [applyBasicInfo]="applyBasicInfo"></readOnly-personApplyBasicInfo>
                    </div>
                </div>

                <div *ngIf="showInfoIndex ==3" class="col-xs-12">
                    <analysis-result [applyInfo]="applyInfo" [crimeNoticeQuery]="crimeNoticeQuery" [isAnalysised]="isAnalysised" [applyBasicInfo]="applyBasicInfo"
                        [rejectReason]="rejectReason" [applyRejectReasonLength]="applyRejectReasonLength" [isRejected]="isRejected"
                        [crimePersonInfo]="crimePersonInfo" [hasSelectCrimePersonId]="hasSelectCrimePersonId" [applyAndCriminalRelation]="applyAndCriminalRelation"
                        [isCheckedDisabled]="true" [isEdit]="isEdit" [dataCount]="totalCount" [criminalInfo]="criminalList" (crimeNoticeEmit)="getCrimeNoticeEmit($event)"></analysis-result>
                </div>


                <div class="col-xs-4 attachment-watch-wrap" *ngIf="showInfoIndex !=3">
                    <div class="attachment attachment-change-width">
                        <crms-attchment [imageFileList]="applyAttachmentList" [controllFlag]="attchmentControllObj" [onlyForApplyAnalysis]='false'></crms-attchment>
                    </div>
                </div>
            </wizard-step>


            <!-- 录入意见 "-->
            <wizard-step [title]="['Input comments' | translate]" [showComplete]="true" [showNext]="false">
                <dx-validation-group>
                    <div class="notice-reject-reson" [hidden]="isAnalystReject">
                        <div class="notice-option">
                            <dx-button *ngFor="let item of auditResultEnum; let i = index" icon="fa fa-check" text="{{item.name| translate}}" class="grey-btn"
                                (onClick)="enterOption(i)" [ngClass]="{'red-btn':applyInfo.auditResultId == item.value}"></dx-button>
                        </div>
                        <div [hidden]="applyAuditVisible">
                            <div [hidden]="isReason" class="textarea-p" style="position:relative;z-index:3;">
                                <label>{{'auditRejectReason' | translate}}
                                    <span>*</span>
                                </label>
                                <div class="textAreaDiv">
                                    <dx-text-area [disabled]="isReason" class="textAreaCrime" [(ngModel)]="applyInfo.auditRejectReason" name="auditRejectReason"
                                        maxLength="2000" id="auditRejectReason" valueChangeEvent="keyup">
                                        <dx-validator [hidden]="isReason">
                                            <dxi-validation-rule type="required" message="{{'auditRejectedReason is required'| translate}}"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-area>
                                    <span class="wordwrap">
                                        <var class="word">{{applyInfo.auditRejectReason?applyInfo.auditRejectReason.length:0}}</var>/2000</span>
                                </div>
                            </div>

                            <div class="textarea-p margin-bottom-15" style="position:relative;z-index:2;">
                                <label>{{'auditDescription' | translate}}</label>
                                <div class="textAreaDiv">
                                    <dx-text-area class="textAreaCrime" [(ngModel)]="applyInfo.auditDescription" name="auditDescription" id="auditDescription"
                                        maxLength="2000" valueChangeEvent="keyup">
                                    </dx-text-area>
                                    <span class="wordwrap">
                                        <var class="word">{{applyInfo.auditDescription?applyInfo.auditDescription.length:0}}</var>/2000</span>
                                </div>
                            </div>

                            <div class="textarea-p" style="position:relative;z-index:2;" [hidden]="isRejectAnalysis">
                                <label>{{'analysisDescription' | translate}}</label>
                                <div class="textAreaDiv">
                                    <dx-text-area class="textAreaCrime" disabled="true" [(ngModel)]="applyInfo.analysisDescription" name="analysisDescription"></dx-text-area>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="notice-option-description">
                        <!-- <p>说明:</p> -->
                        <div class="description-wrap">
                            {{'pass' | translate}}：
                            <br/> {{'if confirm not fail...' | translate}}
                            <br/> {{'fail' | translate}}：
                            <br/> {{'if confirm not pass...' | translate}}
                        </div>
                    </div>

                </dx-validation-group>
            </wizard-step>




            <!-- 完成 -->
            <wizard-step [title]="['complete' | translate]" [showPrev]="false" class="special-box2">
                <div class="down-img">
                    <img src="./themes/images/down.png" alt="" width="100" height="100" *ngIf="completeInfo">
                    <img src="./themes/images/fail.png" alt="" width="100" height="100" *ngIf="!completeInfo">
                </div>
                <div class="down-text">{{submitResult}}</div>
                <div class="down-information">
                    <div>
                        <p>{{'auditTime' | translate}}:{{completeInfo?.auditTime | I18nDate:'long'}}</p>
                        <p>{{'auditPersonName' | translate}}:{{completeInfo?.auditPersonName | translate}}</p>
                        <p>{{'auditResultName' | translate}}：{{completeInfo?.auditResultId | aduitResult | translate}}</p>
                    </div>
                </div>
                <div class="entry-next-item">
                    <dx-button icon="fa fa-reply" class="grey-btn" text="{{'getBack'| translate}}" (onClick)="goBack()" [disabled]="LoadingPanelVisible"></dx-button>
                </div>
            </wizard-step>
        </form-wizard>
    </div>
</div>







<!-- 保存时的loading starter-->
<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{my:'center',at:'center', of: window }" [(visible)]="loadingVisible"
    [showIndicator]="true" [showPane]="true" [shading]="false" [closeOnOutsideClick]="false" (onHidden)="onHidden()">
</dx-load-panel>
<!-- 保存时的loading end-->

<!-- 保存前验证，给出相应提示 start 说明，验证框需要放在验证组里面 -->
<dx-popup class="popupValidation popup" [width]="344" [height]="" [maxHeight]="475" title="{{'pupopinformation'|translate}}"
    [shading]="false" [showTitle]="true" [dragEnabled]="true" [closeOnOutsideClick]="false" [(visible)]="validateVisible">
    <div *dxTemplate="let data of 'content'">
        <div id="toast-container-error">
            <div *ngFor="let rules of brokenRules">
                <div class="toast toast-error">{{rules.message}}</div>
            </div>
        </div>
    </div>
</dx-popup>
<!-- 保存前验证，给出相应提示 end -->
